---
layout: splash
author_profile: false
header:
  overlay_color: "#bd252c"
  overlay_filter: "0"
  overlay_image: /assets/images/redcode.png
  cta_label: "参加申し込み"
  cta_url: "https://goo.gl/forms/5Ht2Epzi05YLbGfj1"
excerpt: "パソコンに興味のある学生の皆さん、”プロコン” を通して自分の才能を発掘してみませんか?"
---

<p><a target="_blank" href="https://www.ajitep.org/2016/10/14/news-u16-kushiro-20161014/">昨年の模様を <strong>ITジュニア育成交流協会</strong> さんに紹介していただきました！</a></p>

<h3 class="archive__subtitle">コンテスト概要</h3>

<dl>
  <dt>開催日時</dt>
  <dd>2017年 10月 8日 (日) 13:00</dd>
  <dt>申し込み期限</dt>
  <dd><del>2017年 7月 20日</del> <ins>2017年 8月 31日</ins> <strong>延長しました！！</strong></dd>
  <dt>場所</dt>
  <dd>釧路フィッシャーマンズワーフMOO 3F ふらっと多目的スペース</dd>
  <dt>参加資格</dt>
  <dd>釧路管内・近郊の高校一年生以下の中高生</dd>
  <dt>参加費</dt>
  <dd>無料</dd>
</dl>

<p style="color:#bd252c">夏休み期間中に事前講習会 (無料) を予定しています。<br>日程が決まり次第、こちらの Web サイト • <a href="https://twitter.com/946procon">Twitter</a> でお知らせいたします</p>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
